.input-grid {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr 1fr;
  gap: 7rem;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: red;
}

.kit-price {
  height: 5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.inputField {
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.part-numbers {
  margin-bottom: 2.15rem;
}

.total {
  color: red;
  font-size: 2rem;
  margin-top: 2rem;
}

h3 {
  color: red;
}
